.todoList{
  margin: auto;
  width: 400px;
  text-align: center;
  border: 1px solid #000;
}

.cover-img{
  background-color: brown;
  width: 100%;
  height: 100px;
}

.content{
  /* background-color: yellow;   */
  padding-top: 20px;
  min-height: 400px;
  padding-bottom: 20px;
}

#input-item{
  border: none;
  padding:5px 20px;
  background-color: none !important;
  border-bottom:2px solid #ccc !important;
  margin-bottom: 20px !important;
  background-color: transparent !important;
}

#input-item:active{
  background-color: transparent !important;

}
input:-webkit-autofill {
  -webkit-text-fill-color: #000 !important;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
#input-item:focus{
  background-color: transparent !important;
  border: none !important;
  outline: none;
  border-bottom: 2px solid #000 !important;
}
.fa-trash{
  float: right;
  font-size: 30px !important;
  color: red;
  cursor: pointer;
}
.fa-trash:hover{
  color: rgb(177, 0, 0);
}
ul{
  width: 300px;
  text-align: left;
  font-size: 20px;
  margin: auto;
  list-style: none;
  padding: 0 !important;
}
.add{
  /* width: 5px; */
  padding: 8px;
  color:rgb(80, 80, 255) !important;
  font-size: 20px;
  cursor: pointer;
}
.add:hover{
  color: rgb(28, 0, 151) !important;
}

li{
  margin-bottom: 10px;
}

li div{
  display: inline;
}